.u-section-1 .u-sheet-1 {
  min-height: 1332px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 4.5rem;
  width: 614px;
  font-weight: 700;
  margin: 1px auto 0;
}

.u-section-1 .u-video-1 {
  width: 456px;
  height: 257px;
  margin: 22px -641px 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-image-1 {
  width: 498px;
  height: 498px;
  animation-duration: 5750ms;
  background-image: url("images/Screenshot_12.png");
  background-position: 50% 50%;
  margin: -239px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 183px;
    margin-top: 102px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -39px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -264px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1174px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 177px;
}